<h1>
  <%= @exercise.name %>
</h1>

<p>
  <%= simple_format(@exercise.instructions) %>
</p>

<ul>
  <li><%= link_to 'Edit', edit_exercise_path(@exercise) %></li>
  <li><%= link_to 'Destroy', exercise_path(@exercise), method: :delete, data: { confirm: 'Are you sure?' } %></li>
</ul>